# Database
DATABASE_URL=

# Authentication
BETTER_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Storage Service
UPLOADTHING_TOKEN=

# Email Service
RESEND_API_KEY=

# Nextjs specific
NEXT_PUBLIC_APP_URL=
